.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #FAF7F2;
    padding: 20px;
    gap: 120px;
    position: relative;
    padding-bottom: 60px;
  }
  
  .footer-first {
    display: flex;
    flex-direction: column;  
    align-items: flex-start; 
  }
  
  .footer-logo {
    margin-bottom: 20px;
  }

  .footer-logo img{
    max-width: 200px;
  }

  .footer-icons {
    display: flex;
    flex-direction: column;  
    gap: 15px;               
  }

  .footer-info-item {
    display: flex;
    align-items: center;     
    gap: 10px;               
  }
  
  .footer-menu {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center;
  }
  
  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start
  }
  
  .footer-end {
    position: absolute;  
    bottom: 0;
    width: 100%; 
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 10px;
    background-color: #292929; 
    color: #fff; 
  }

  .footer-social-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

  }
  
  .footer-social-icons img{
    width: 60px;
    height: 100px;
    padding: 10px;
    object-fit: cover;
    flex-basis: calc(33.33% - 10px);
  }
  
  
  .footer-end svg {
    font-size: 24px;
    color: white;
    margin-left: 10px;
  }
  
  .footer-end svg:hover {
    color: #1DA1F2;
  }
  
  .footer-social h5 {
    margin-left: 10px;                
    font-size: 16px;          
    color: #FAF7F2;     
    align-self: flex-start;      
  }