* {
  box-sizing: border-box;
}

body {
  background-image: url("/images/iteration-1-images/home-banner.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: top center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.home-h1 {
  display: flex;            
  justify-content: center;   
  align-items: center;     
  height: 100%;           
}

.home-h1 img {
  max-width: 100%; 
  height: auto;
  margin: 50px;  
}

.home-h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FAF7F2;
  font-size: 30px;
  margin-top: 0;
}

.home-h2 h2 {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.home-button button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 12px;
  cursor: pointer;
  background-color: #FDC913;
  color: #292929;
  border: none;
  border-radius: 30px;
  width: 120px;
}

.home-button button:hover {
  background-color: #FDC913;
}

.home-h2 p{
  color: #FDC913;
  font-size: 30px;
  font-weight: 200;
  margin-top: 0;
  font-family: "Satisfy", serif;
  margin-bottom: 0;
}

.home-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 77vh;
  width: 100%;
  
}

.icon-lists {
  display: flex;
  gap: 100px;
  list-style-type: none;
  padding: 0;
}

.icon-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-items img {
  width: 40px;
  height: 40px;
  gap: 20px;
}

.icon-items span {
  font-size: 14px;
  text-align: center;
  padding-left: 20px;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

.home-cta {
  background-color: #FAF7F2;
  width: 100%;
  height: 100%;
  position: relative;
  top: -100px;
  margin-top: 100vh;
}

.cards {
  display: flex;
  justify-content: center; 
  align-items: center;      
  gap: 20px;                
  width: 100%;
  height: 600px;            
  max-width: 100%;          
  overflow-x: hidden;
  padding-top: 100px;
}

.lezzetus {
  background-image: url("/images/iteration-2-images/cta/kart-1.png");
  background-size: cover;
  width: 100%;               
  height: 80%;               
  min-width: 300px;          
  max-width: 400px;          
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  color: #FAF7F2;
}

.two-cards {
  display: flex;
  flex-direction: column;    
  gap: 20px;                 
  width: 100%;
  max-width: 400px;         
  margin-left: 20px;         
}

.hack h2{
  color: #FAF7F2;
}

.kurye h2{
  color: #292929
}

.hack, .kurye {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
  width: 100%;               
  height: 180px;             
}

.hack {
  background-image: url("/images/iteration-2-images/cta/kart-2.png");
  color: #FAF7F2;
}

.kurye {
  background-image: url("/images/iteration-2-images/cta/kart-3.png");
  color: #FAF7F2;
}


button {
  padding: 10px 20px;
  background-color: #FAF7F2;
  color: #CE2829;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #FAF7F2
}

.medium-body p:first-of-type {
  font-family: "Satisfy", serif;
  color: #CE2829;
  display: flex;            
  justify-content: center;   
  align-items: center;
  font-size: 30px;  
}

.medium-body p:last-of-type {
  font-family: 'Roboto Condensed', sans-serif;
  color: #292929;
  display: flex;            
  justify-content: center;   
  align-items: center;
  font-size: 30px;  
  font-weight: 500;
}

.mb-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  padding-bottom: 50px;
  
  
}

.mb-icon-lists {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding: 10;
}

.mb-icon-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  width: 140px;
  height: 60px;
  
}


.md-images {
  display: flex;                
  justify-content: center;      
  align-items: flex-start;      
  gap: 120px;                   
  width: 100%;                  
  flex-wrap: wrap;              
  margin-top: 20vh;             
  text-align: center;
}

.md-images .item {         
  gap: 10px;
  background-color: white;
  padding: 30px;     
  border-radius: 20px;
  display: flex;
  flex-direction: column;  
  align-items: center;      
}

.md-images .item img {
  width: 250px;                             
  height: auto;                            
  border-radius: 10px;                      
}

.md-images p, .md-images h4 {
  font-size: 14px;              
  color: #292929;   
  display: flex;                 
  flex-direction: row;         
  align-items: center;            
}

.md-images .item p {
  gap: 10px;                 
}

.md-images .item h4 {
  font-size: 16px;             
  color: #292929;             
  margin-bottom: 15px;
  text-align: left; 
  gap: 80px;
}

.md-images .item p span {
  margin-right: 10px;          
}