header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #CE2829;
    height: 150px;
    text-align: center;
    padding: 0px 32vw;
}

.order-header {
    align-self: flex-start;
}

.order-header button:not(:last-child)::after {
    content: "-"; 
    margin-left: 10px;
    color: #FAF7F2;
}
.order-header button{
    background-color: transparent;
    border: none;
    color: #FAF7F2;
    padding: 2px;
    cursor: pointer;
    font-family: "Barlow", serif;
}

.order-header button:last-child{
    font-weight: bold;
}

.order-header button:hover:not(:last-child){
    color: darkblue;
}


header img {
    display: flex;
    margin: 20px;
    align-self: center;
}

section {
    font-family: "Roboto Condensed", serif;
    padding: 0px 32vw;
}

.pizza-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    font-family: "Barlow", serif;
}

section h3{
    font-family: "Barlow", serif;
    margin-top: 40px;
    color: #292929;
    font-size: 20px;
}

.pizza-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pizza-details p {
    font-size: 24px;
    font-weight: 620;
    color: #292929;
    margin-top: 8px;
}

.pizza-info p:last-child {
    color: #5F5F5F;
    line-height: 25px;
    font-size: 14px;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    color: #5F5F5F;
}

.rating p {
    font-size: 16px;
    font-weight: 300;
    color: #5F5F5F;
}

Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

.pizza-sizes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 55%
}
.pizza-size-selection :hover{
    cursor: pointer;
}

.selection-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
}

.pizza-size-selection{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 10px;
    color: #333;
  }

.pizza-size-selection input{
    width: 15px;
    height: 15px;
}

.pizza-size-selection input [type="radio"] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
}

.dough-selection {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 24px;
    font-weight: 600;
    justify-content: flex-start;
    align-items: flex-start;
    letter-spacing: 0.02em;
}


.dough-selection select {
    width: 140px;
    text-align: center;
    border-color: #5F5F5F;
    transition: 0.3s color ease;
    border-radius: 5px;
    appearance: none;
    padding: 4px;
    border: 2px solid #5F5F5F;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

.dough-selection option{
    border-color: #5F5F5F;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
}

.dough-selection select:hover{
    cursor: pointer;
}

.extras {
    display: flex;
    flex-direction: column;
}

.extras p {
    color: #333;
    position: relative;
}

.extras-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.extra :hover{
    cursor: pointer;
}

.extra {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 11vw;
    margin-bottom: 30px;
}

.ad{
    font-size: 20px;
    margin-top: 0;
}

.ad textarea{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 40px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #5F5F5F;
}

.count-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
}

.counter{
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.count{
    all: unset;
    border: 1px solid #5f5f5f3f;
    height: 48px;
    width: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter button {
    background-color: #FDC913;
    border: none;
    height: 50px;
    width: 40px;
    cursor: pointer;
    border-radius: 5px;
}
  
.order-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid #5f5f5f3f;
    width: 300px;
    padding: 50px;
    border-radius: 10px;
}

.extra-price,
.total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.extra-price {
    color: #5F5F5F;
}

.total-price {
    color: #CE2829;
}


.order-details button {
    position: relative;
    bottom: 3px;
    width: 100%;
    height: 60px;
    background-color: #FDC913;
    border-radius: 5px;
    border: none;
    color: #333;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    
}

.required::after{
    content: '*';
    color: red;
}
.order-pizza-page {
    background-image: none;
    background-color: white;
  }