header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #CE2829;
    height: 150px;
    text-align: center;
    padding: 0px 32vw;
}

.order-header {
    align-self: flex-start;
}

.order-header button{
    background-color: transparent;
    border: none;
    color: #FAF7F2;
    padding: 2px;
    cursor: pointer;
    font-family: "Barlow", serif;
}

.order-header button:last-child{
    font-weight: bold;
}


header img {
    display: flex;
    margin: 20px;
    align-self: center;
}

section {
    padding: 0px 32vw;
}

section h3{
    font-family: "Barlow", serif;
    margin-top: 40px;
    color: #292929;
}

.pizza-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pizza-details p {
    font-size: 24px;
    font-weight: 620;
    color: #292929;
    margin-top: 8px;
}

.pizza-info p:last-child {
    color: #5F5F5F;
    line-height: 25px;
    font-size: 14px;
    margin-top: 4px;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    color: #5F5F5F;
}

.rating p {
    font-size: 16px;
    font-weight: 300;
    color: #5F5F5F;
}

Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

.size-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
}

.order-pizza-page {
    background-image: none;
    background-color: white;
  }